@import "https://fonts.googleapis.com/css?family=Lato:100";

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 72px;
    font-weight: 100;
    font-family: 'Lato';
    text-align: center;
}

.loader {
    position: relative;
}
.loader:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/loader.svg) center center no-repeat rgba(255,255,255,.4);
    z-index: 10;
}